<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Trabajador</title>
</head>
<body>
    <h1>Detalle del Trabajador</h1>
    <p><strong>Nombre Completo:</strong> {{ object.nombre_completo }}</p>
    <p><strong>Identificación:</strong> {{ object.identificacion }}</p>
    <p><strong>Fecha de Ingreso:</strong> {{ object.fecha_ingreso }}</p>
    <p><strong>Oficina:</strong> {{ object.oficina }}</p>
    <a href="{% url 'empleados:lista_trabajadores' %}">Volver a la lista de trabajadores</a>
</body>
</html>
