{% extends "base_generic.html" %}

{% block content %}
<h1>Lista de Cuentas</h1>

<table>
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Tipo</th>
            <th>Saldo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.customer }}</td>
            <td>{{ account.account_type }}</td>
            <td>${{ account.balance }}</td>
            <td><a href="{% url 'cuentas:detail' account.id %}">Detalles</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
